<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th ng-repeat="(headerProp, headerValue) in table.tableHeader track by $index" 
					class="col-lg-2 col-md-2 col-sm-2 col-xsm-2">
					<a href="#" ng-click="table.sortBy(headerProp)">{{ ::headerValue }}</a>
					<app-switch-btn ng-show="table.currentSortPropName == headerProp"
									switch-state="table.sortState"
									class-on="glyphicon glyphicon-sort-by-attributes-alt"
									class-off="glyphicon glyphicon-sort-by-attributes"></app-switch-btn>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rows in table.tableData track by $index">
				<td ng-repeat="cell in rows track by $index"
					tabindex="-1">
					{{ cell }}
				</td>
			</tr>
		</tbody>
	</table>
</div>