<div class="input-group app-input-dropdown-list">
	<label class="input-group-addon" for="{{input.id}}">{{input.title}}</label>
	<input id="{{input.id}}" 
		   type="text" 
		   class="form-control" 
		   placeholder="{{input.title}}" 
		   aria-describedby="{{input.title}}"
		   ng-model="input.filterBy">
	
	<app-dropdown-list ng-show="input.data"
					   class="app-dropdown-list"
					   items="input.data"
					   select-target="input.filterBy"
				   	   unique-by="input.filterName"
				   	   visible-fields="[input.filterName]"></app-dropdown-list>
</div>
