<div class="app-input-dropdown-list">
	<input ng-model="input.filterBy"
		   ng-blur="input.clearDropdown()"
		   id="{{input.id}}" 
		   type="text" 
		   class="form-control" 
		   placeholder="{{input.title}}" 
		   aria-describedby="{{input.title}}">	
	<app-dropdown-list ng-show="input.data"
					   class="app-dropdown-list"
					   items="input.data"
					   select-target="input.filterBy"
				   	   unique-by="input.filterName"
				   	   visible-fields="[input.filterName]"></app-dropdown-list>
</div>
